<h3><i class="fa-solid fa-thumbtack"></i> Bulletin Board</h3>
<div class="section">
    <p class="lead">Share big successes, little wins, hard losses and lessons learned.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log In with Google
    </a>
</div>